Wrong hosts and broadcasts for /31 and /32 networks.

```
from netaddr import IPNetwork
n = IPNetwork('92.54.92.74/31')
print n.network # 92.54.92.74
print n.broadcast # 92.54.92.75 - wrong, None - right
print list(n.iter_hosts()) # [] - wrong, [92.54.92.74, 92.54.92.75] - right
```

I am not sure but as i know the  /31 network should have 2 hosts and should not have the broadcast, but it has broadcast and has not any hosts. The /32 network should have only the one host which is equal the network's netname and should not have a broadcast. Some information about that i wrote above can be founded here https://tools.ietf.org/html/rfc3021 I am sorry, i am not that good in such long english texts

Thanks for pointing that out, I was unaware of RFC 3021 before.

One question is if we implement this becomes a new (optional) feature or a new default behavior for the IPNetwork class. I just consulted one of our network engineers and he confirmed that there is no use case for a /31 network without this RFC. This means that anyone using /31 IPNetworks must be using the RFC, and so I would suggest changing the default behavior of the IPNetwork class to 

```python
>>> n = IPNetwork('92.54.92.74/31')
>>> print list(n.iter_hosts())
[IPAddress('92.54.92.74'), IPAddress('92.54.92.75')]
```
Question is, what should happen for
```python
>>> n.network
>>> n.broadcast
```
Should they return None?
Should they raise an exception? And if so, which exception?
Should n.broadcast give you 255.255.255.255 in accordance with section 2.2.0 of RFC 3021?

And do we implement the same stuff for
```python
>>> n6 = n.ipv6()
>>> n6
IPNetwork('::ffff:92.54.92.74/127')
```
? RFC 3021 does not mention that, but it appears logical.

Me and my colleague (he is a network engineer too) decided that network name should be the same because every network must have a name and broadcast should be the **None** (i think the exception does not need for this case). Actually, ipv6 does not have broadcast at all. It has a network range but it is working for you module - the start of range is network name and the end of range is broadcast. Anyway, you can use **sipcalc utility(linux os)** to check what should be the right broadcast for any network.

So the desired behavior is 
```python
>>> from netaddr import *
>>> n = IPNetwork('92.54.92.74/31')
>>> print list(n.iter_hosts())
[IPAddress('92.54.92.74'), IPAddress('92.54.92.75')]
>>> n.network is None
True
>>> n.broadcast is None
True
```
and everything else unchanged. I cannot see a good reason against that, so unless someone else finds one, that's what we'll get.

Not realy, in my previous comment i proposed that **n.network** should be '92.54.92.74' it should not change behavior for this property. And, i think, it should do some work with ipv6 part of code, i am not good at ipv6, but **sipcalc utility** shows different results than **netaddr module**

As a network engineer in a ISP and broadband context I have to state that the use of /31 networks is increasing with the depletion of Public ip addresses.  For /31 and /32 addresses the state n.broadcast would be None, and for the n.network it would be the first or only host respectively.  That is how the entry is stored in a routing table.

Fix is in the main branch now. Thanks guys!