Problem with iter_hosts and IPv6 (/126)

Hi,

I'm using this library (thanks you) but I encounter a problem with iter_hosts, please find below an example: 

My Input : 
```
ip_address = "2001:db8::2"
netmask = 126
ip_network = IPNetwork("{ip}/{mask}".format(ip=ip_address, mask=netmask))
```

I try to get all hosts on this network:
```
In [1]: list(ip_network.iter_hosts())
Out[1]: [IPAddress('2001:db8::1'), IPAddress('2001:db8::2'), IPAddress('2001:db8::3')]
```
**IPAddress('2001:db8::3') should not be here, it is not a host:**

Network looks good
```
In [2]: ip_network.network
Out[2]: IPAddress('2001:db8::')
```

Broadcast looks good too
```
In [3]: ip_network.broadcast
Out[3]: IPAddress('2001:db8::3')
```

Do I miss something?

Regards
Alexandre Corso



from [https://netaddr.readthedocs.io/en/latest/_modules/netaddr/ip.html#IPNetwork.iter_hosts](url):

     - for IPv6, only the unspecified address '::' or Subnet-Router anycast \
          address (first address in the network) is excluded.

```python
else:
            #   IPv6 logic.
            # RFC 4291 section 2.6.1 says that the first IP in the network is
            # the Subnet-Router anycast address. This address cannot be
            # assigned to a host, so use self.first+1.
            if self.size >= 2:
                it_hosts = iter_iprange(
                    IPAddress(self.first + 1, self._module.version),
                    IPAddress(self.last, self._module.version))
        return it_hosts
```